<!DOCTYPE html>
<html lang="en" ng-app="StarterApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>-->

    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <!--@Scripts.Render("~/bundles/bootstrap")-->

    @Styles.Render("~/Content/bower_components/styles")
    @Scripts.Render("~/bundles/bower_components/angular")

    @Scripts.Render("~/bundles/common")
    @Styles.Render("~/Content/css")


    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "930b33bd-c4b8-47e2-8f08-6150412e8d15"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

</head>
<body ng-controller="AppController" ng-cloak>

        <md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                        md-direction="{{demo.selectedDirection}}">
            <md-fab-trigger class="align-with-text">
                <md-button aria-label="menu" class="md-fab md-primary">
                    <md-icon md-svg-src="~/Content/images/menu.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <md-button aria-label="photo" class="md-icon-button">
                        <md-icon md-svg-src="~/Content/images/menu.svg"></md-icon>
                    </md-button>
                    <span>@Html.ActionLink("Log in", "Index", "Login", new { area = "" }, null)</span>
                    <span style="margin-left: 20px;">@Html.ActionLink("My aquarium", "mypage", "main", new { area = "" }, null)</span>

                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>

<div layout="row" flex>
    @RenderBody()
</div>

</body>
</html>